---
import BaseHead from "@components/BaseHead.astro";
import MainNavigation from "@components/MainNavigation.astro";
import CVHeader from "@components/cv/CVHeader.astro";
import DownloadBadge from "@components/cv/DownloadBadge.astro";
import SocialLinks from "@components/SocialLinks.astro";
import ThemeSwitcher from "@components/ThemeSwitcher";
import CrumbSnippet from "@components/CrumbSnippet.astro";

import "@styles/theme.css"
import "@styles/general.css"
import "@styles/cv.css"

const { title, description, position, keywords } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="cv-view-page">
<head>
    <BaseHead 
        title={title} 
        description={description} 
        keywords={keywords} 
        ogType={`website`}
        image={`/blog/roman-glushko-in-the-process-of-work.jpg`}
    />
</head>
<body>
    <main
        itemscope
        itemtype="http://schema.org/Person"
        class="cv cv-machine-learning-engineer"
    >
        <DownloadBadge />
        <header>
            <ThemeSwitcher client:only />
            <MainNavigation space={"cv"} />
            <CVHeader position={position} />
            <SocialLinks showPatreon={false} />
        </header>
        <div class="cv-content">
            <slot />
        </div>
    </main>
    <CrumbSnippet crumbs={[{ "/cv/machine-learning-engineer/": "ML/DL Engineer CV" }]} />
</body>
</html>