---
import { Picture } from '@astrojs/image/components';

import Date from "../Date.astro"
import MainNavigation from '@components/MainNavigation.astro';
import ThemeSwitcher from '@components/ThemeSwitcher';

import "./ThoughtContent.css"
import "../../styles/content.css";

const {title, pubDate, keywords, cover: {image, credits, aspectRatio}, timeToReadMin} = Astro.props;
---
<article class="thought-wrapper">
    <header>
        <figure class="cover">
            <div class="cover-filter">
                {image && 
                    <Picture 
                        class="cover cover-image"
                        loading="lazy" 
                        src={image} 
                        alt={title} 
                        widths={[1240, 620, 310, 155]} 
                        aspectRatio={aspectRatio} 
                        formats={['avif', 'jpeg', 'webp']} 
                    />
                }
            </div>
            <figcaption
                class="image-title"
                set:html={credits}
            />
        </figure>
        <MainNavigation space={"thoughts"} />
        <h1>{title}</h1>
        <div data-nosnippet="" class="thought-details">
            <Date date={pubDate} />
            <span> • </span>
            <span class="thought-time2read">
                {timeToReadMin}
            </span>
            <div class="theme-switcher">
                <ThemeSwitcher client:load />
            </div>
        </div>
    </header>
    <div class="thought-divider" />
    <!-- <ReadingTracker contentType={ContentTypes.THOUGHT}> -->
        <div class="content thought-content">
            <slot />
        </div>
    <!-- </ReadingTracker> -->
</article>