---
import type { CollectionEntry } from 'astro:content';

import { Picture } from '@astrojs/image/components';
import Date from "@components/Date.astro"

import "./ThoughtTeaser.css"

export interface Props {
    thought: CollectionEntry<'thoughts'>
}

const {thought} = Astro.props
const {title, pubDate, cover: {image, credits}} = thought.data;
const {remarkPluginFrontmatter: {timeToReadMin}} = await thought.render()
const slug = thought.slug;

const thoughtURL = `/thoughts/${slug}/`;
---
<article class="thought-item">
    <h2>
        <a href={thoughtURL}>{title}</Link>
    </h2>
    <div class="thought-details">
        <Date date={pubDate} />
        <span> • </span>
        <span class="thought-time2read">
            {timeToReadMin}
        </span>
    </div>
    <a href={thoughtURL}>
        <div class="cover-filter">
            {image && 
            <div class="cover">
                <Picture 
                    loading="lazy" 
                    src={image} 
                    alt={title} 
                    aspectRatio={"4:3"}
                    widths={[1400, 700, 350, 175]} 
                    formats={['avif', 'jpeg', 'webp']} 
                />
            </div>}
        </div>
    </a>
    <p class="thought-digest">TBU</p>
</article>