---
import { Picture } from '@astrojs/image/components';

import Date from "@components/Date.astro"
import ThemeSwitcher from "@components/ThemeSwitcher";
import TableOfContent from "./TableOfContent";

import "../../styles/content.css";
import "../../styles/codeTheme.css";

const {title, pubDate, keywords, cover: {image, credits, aspectRatio}, timeToReadMin} = Astro.props;

---
<article class="blog-wrapper">
    <header>
      <figure class="cover">
        <div class="cover-filter">
          {image && 
            <Picture 
              class="cover cover-image"
              loading="lazy" 
              src={image} 
              alt={title} 
              widths={[1240, 620, 310, 155]} 
              aspectRatio={aspectRatio} 
              formats={['avif', 'jpeg', 'webp']} 
            />
          }
        </div>
        <figcaption
          data-nosnippet=""
          class="image-title"
          set:html={credits}
        />
      </figure>
      <h1>{title}</h1>
      <div data-nosnippet="" class="blog-details">
        <Date date={pubDate} />
        <span> • </span>
        <span class="blog-time2read">
          {timeToReadMin}
        </span>
        <div class="theme-switcher">
          <ThemeSwitcher client:load />
        </div>
      </div>
      <ul data-nosnippet="" class="blog-tags">
        {keywords.map((keyword: string) => (
          <li>{keyword}</li>
        ))}
      </ul>
    </header>
    <div class="blog-divider" />
    <!-- <ReadingTracker id={id} contentType={ContentTypes.BLOG}> -->
      <div class="content-wrapper">
        <TableOfContent client:load />
        <div class="content blog-content">
            <slot />
        </div>
      </div>
    <!-- </ReadingTracker> -->
</article>