---
import type { CollectionEntry } from 'astro:content';

import { Picture } from '@astrojs/image/components';
import PostKeywords from "@components/blog/PostKeywords.astro"

import ReadingStatusBadge from "@components/blog/ReadingStatusBadge"
import NewPostBadge from "@components/blog/NewPostBadge"
import Date from "@components/Date.astro"

import './PostTeaser.css'

export interface Props {
  post: CollectionEntry<'blog'>
}

const {post} = Astro.props;
const {id, title, excerpt, pubDate, keywords, cover: {image, aspectRatio}} = post.data;
const {remarkPluginFrontmatter: {timeToReadMin}} = (await post.render())
const slug = post.slug

const postId = id || slug;
const postURL = `/blog/${slug}/`;
---
<article class="blog-item">
  <a class="article-header" href={postURL}>
    <div class="cover-filter">
      {image && 
        <div class="cover">
          <Picture 
            loading="lazy" 
            src={image} 
            alt={title} 
            widths={[1240, 620, 310, 155]} 
            aspectRatio={aspectRatio} 
            formats={['avif', 'jpeg', 'webp']} 
          />
        </div>
        }
    </div>
    <NewPostBadge publishDate={pubDate} client:only />
  </a>
  <div class="article-details">
    <h2>
      <a href={postURL}>{title}</a>
    </h2>
    <div class="blog-details">
      <Date date={pubDate} />
      <span> • </span>
      <span class={`blog-time2read`}>
        {timeToReadMin}
      </span>
      <ReadingStatusBadge contentId={postId} client:only />
    </div>
    <p class="blog-digest">{excerpt}</p>
    <PostKeywords keywords={keywords} />
  </div>
</article>