---
import { CollectionEntry, getCollection } from 'astro:content';

import BaseHead from '../../components/BaseHead.astro';
import Footer from "../../components/Footer.astro";
import ThoughtAuthor from "../../components/thoughts/ThoughtAuthor.astro";
import ThoughtContent from '../../components/thoughts/ThoughtContent.astro';
import ThoughtHeader from '../../components/thoughts/ThoughtHeader.astro';

import '../../styles/thoughtView.css'
import ThoughtPostLayout from '@layouts/ThoughtPostLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('thoughts');

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'thoughts'>;

const post = Astro.props;
const { Content, remarkPluginFrontmatter: {timeToReadMin} } = await post.render();
const {title, pubDate, excerpt, keywords, cover} = post.data
---
<ThoughtPostLayout
  title={`${title}`}
  description={excerpt}
  keywords={keywords}
  image={cover.image}
>
  <main>
    <ThoughtContent
      title={title}
      pubDate={pubDate}
      cover={cover}
      timeToReadMin={timeToReadMin}
    >
        <Content />
    </ThoughtContent>
    <!-- <ShareBlock title={title} path={path} tags={keywords} /> -->
    <!-- <NewsletterForm /> -->
  </main>
</ThoughtPostLayout>